@charset "UTF-8";
:root {
  --page-width: 75rem;
  --sidebar-width: 24rem;
  --header-height: 4.8rem;
  --logo-color: #000000;
  --primary-color: #EC1037;
  --text-color: #000000;
  --headings-color: #000000;
  --link-color: #EC1037;
  --link-color-hover: #000000;
  --bg-color: 236, 16, 55;
  --separator-width: 100%;
  --line-height: 1.7;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --headings-weight: 700;
  --headings-transform: none;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

article,
aside,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

li {
  list-style: none;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: top;
}

button,
input,
select,
textarea {
  font: inherit;
}

address {
  font-style: normal;
}

.facebook > svg {
  fill: #3b5998;
}

.post__share .facebook {
  background: #3b5998;
}

.twitter > svg {
  fill: #55acee;
}

.post__share .twitter {
  background: #55acee;
}

.instagram > svg {
  fill: #000000;
}

.post__share .instagram {
  background: #000000;
}

.vimeo > svg {
  fill: #1ab7ea;
}

.post__share .vimeo {
  background: #1ab7ea;
}

.pinterest > svg {
  fill: #bd081c;
}

.post__share .pinterest {
  background: #bd081c;
}

.youtube > svg {
  fill: #cd201f;
}

.post__share .youtube {
  background: #cd201f;
}

.linkedin > svg {
  fill: #0077B5;
}

.post__share .linkedin {
  background: #0077B5;
}

.buffer > svg {
  fill: #222222;
}

.post__share .buffer {
  background: #222222;
}

.mix > svg {
  fill: #fd8235;
}

.post__share .mix {
  background: #fd8235;
}

.whatsapp > svg {
  fill: #455a64;
}

.post__share .whatsapp {
  background: #455a64;
}

::-moz-selection {
  background: var(--primary-color);
  color: #FFFFFF;
}

::selection {
  background: var(--primary-color);
  color: #FFFFFF;
}

html {
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}
html {
  font-size: 1.1rem;
}
@media screen and (min-width: 20rem) {
  html {
    font-size: calc(1.1rem + 0 * ((100vw - 20rem) / 55));
  }
}
@media screen and (min-width: 75rem) {
  html {
    font-size: 1.1rem;
  }
}
html.no-scroll {
  overflow: hidden;
}

body {
  background: #FFFFFF;
  color: var(--text-color);
  font-family: var(--body-font);
  font-weight: var(--font-weight-normal);
  letter-spacing: 0;
  line-height: var(--line-height);
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

a {
  color: var(--link-color);
  text-decoration: none;
  -webkit-transition: all 0.24s ease;
  -o-transition: all 0.24s ease;
  transition: all 0.24s ease;
}
a:hover {
  color: var(--link-color-hover);
}
a:active {
  color: var(--link-color-hover);
}
a:focus {
  color: var(--link-color-hover);
}

.invert {
  color: var(--link-color-hover);
  text-decoration: none;
  -webkit-transition: all 0.24s ease;
  -o-transition: all 0.24s ease;
  transition: all 0.24s ease;
}
.invert:hover {
  color: var(--link-color);
}
.invert:active {
  color: var(--link-color);
}
.invert:focus {
  color: var(--link-color);
}

p,
ul,
ol,
dl {
  margin-top: 1.6rem;
}

blockquote,
hr {
  margin-top: 2.6666666667rem;
  margin-bottom: 2.6666666667rem;
}

figure {
  margin-top: 2.1333333333rem;
  margin-bottom: 2.1333333333rem;
}

pre,
table {
  margin-top: 1.6rem;
  margin-bottom: 2.1333333333rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--headings-color);
  font-family: var(--heading-font);
  font-weight: var(--headings-weight);
  line-height: 1.3;
  margin-top: 2.6666666667rem;
  text-transform: var(--headings-transform);
}

h1,
.h1 {
  line-height: 1.2;
}
h1,
.h1 {
  font-size: 1.6758293408rem;
}
@media screen and (min-width: 20rem) {
  h1,
.h1 {
    font-size: calc(1.6758293408rem + 0.3580068033 * ((100vw - 20rem) / 55));
  }
}
@media screen and (min-width: 75rem) {
  h1,
.h1 {
    font-size: 2.0338361442rem;
  }
}

h2,
.h2 {
  font-size: 1.4728968807rem;
}
@media screen and (min-width: 20rem) {
  h2,
.h2 {
    font-size: calc(1.4728968807rem + 0.3146544168 * ((100vw - 20rem) / 55));
  }
}
@media screen and (min-width: 75rem) {
  h2,
.h2 {
    font-size: 1.7875512975rem;
  }
}

h3,
.h3 {
  font-size: 1.2945382732rem;
}
@media screen and (min-width: 20rem) {
  h3,
.h3 {
    font-size: calc(1.2945382732rem + 0.2765517333 * ((100vw - 20rem) / 55));
  }
}
@media screen and (min-width: 75rem) {
  h3,
.h3 {
    font-size: 1.5710900065rem;
  }
}

h4,
.h4 {
  font-size: 1.2136296308rem;
}
@media screen and (min-width: 20rem) {
  h4,
.h4 {
    font-size: calc(1.2136296308rem + 0.1672111944 * ((100vw - 20rem) / 55));
  }
}
@media screen and (min-width: 75rem) {
  h4,
.h4 {
    font-size: 1.3808408252rem;
  }
}

h5,
.h5 {
  font-size: 1.066666667rem;
}
@media screen and (min-width: 20rem) {
  h5,
.h5 {
    font-size: calc(1.066666667rem + 0.1469629638 * ((100vw - 20rem) / 55));
  }
}
@media screen and (min-width: 75rem) {
  h5,
.h5 {
    font-size: 1.2136296308rem;
  }
}

h6,
.h6 {
  font-size: 1rem;
}
@media screen and (min-width: 20rem) {
  h6,
.h6 {
    font-size: calc(1rem + 0.066666667 * ((100vw - 20rem) / 55));
  }
}
@media screen and (min-width: 75rem) {
  h6,
.h6 {
    font-size: 1.066666667rem;
  }
}

h2 + *,
h3 + *,
h4 + *,
h5 + *,
h6 + * {
  margin-top: 1.0666666667rem;
}

b,
strong {
  font-weight: var(--font-weight-bold);
}

blockquote {
  background: rgba(var(--bg-color), 0.03);
  border-radius: 6px;
  padding: 0.8rem 1.6rem 2.1333333333rem;
  position: relative;
  text-align: center;
}
blockquote {
  font-size: 1.066666667rem;
}
@media screen and (min-width: 20rem) {
  blockquote {
    font-size: calc(1.066666667rem + 0.0711111115 * ((100vw - 20rem) / 55));
  }
}
@media screen and (min-width: 75rem) {
  blockquote {
    font-size: 1.1377777785rem;
  }
}
blockquote::before {
  color: var(--primary-color);
  content: "“";
  font: normal 360%/1 Georgia, Times, Times New Roman, serif;
  position: relative;
  bottom: -1.0666666667rem;
}
blockquote > :nth-child(1) {
  margin-top: 0;
}

ul,
ol {
  margin-left: 2rem;
}
ul > li,
ol > li {
  list-style: inherit;
  padding: 0 0 0.5333333333rem 0.5333333333rem;
}
ul ul,
ul ol,
ol ul,
ol ol {
  margin-bottom: 0.5333333333rem;
  margin-top: 0.5333333333rem;
}

dl dt {
  font-weight: var(--font-weight-bold);
}

pre {
  background-color: #F7F8FB;
  font-size: 1rem;
  padding: 1.6rem;
  white-space: pre-wrap;
  word-wrap: break-word;
}
pre > code {
  color: #000000;
  display: inline-block;
  font-size: inherit;
}

code {
  background-color: #F7F8FB;
  color: var(--link-color);
  font-family: monospace;
}

table {
  border: 1px solid #E3E3E3;
  border-collapse: collapse;
  border-spacing: 0;
  vertical-align: top;
  text-align: left;
  width: 100%;
}
table th {
  font-weight: var(--font-weight-bold);
  padding: 0.6666666667rem 1.0666666667rem;
}
table td {
  border-top: 1px solid #E3E3E3;
  padding: 0.6666666667rem 1.0666666667rem;
}

.table-striped tr:nth-child(2n) {
  background: #F7F8FB;
}
.table-bordered th,
.table-bordered td {
  border: 1px solid #E3E3E3;
}
.table-title th {
  background: #F7F8FB;
}

figcaption {
  color: #8D8D94;
  font-family: var(--body-font);
  font-weight: var(--font-weight-normal);
  font-size: 0.8239746086rem;
  font-style: italic;
  margin-top: 0.8rem;
  text-align: center;
}

kbd {
  background: #000000;
  border-radius: 2px;
  color: #FFFFFF;
  font-family: monospace;
  font-size: 0.8888em;
  padding: 0.1333333333rem 0.4rem;
}

sub,
sup {
  font-size: 65%;
}

small {
  font-size: 0.8789062495rem;
}

hr,
.separator {
  background: none;
  border: none;
  height: auto;
  line-height: 1;
  max-width: none;
  text-align: center;
}
hr::before,
.separator::before {
  content: "···";
  color: #000000;
  font-size: 1.2136296308rem;
  font-weight: var(--font-weight-bold);
  letter-spacing: 1.1377777785rem;
  padding-left: 1.1377777785rem;
}

.separator--dot::before {
  content: "·";
  color: #000000;
  font-size: 1.2136296308rem;
  font-weight: var(--font-weight-bold);
  letter-spacing: 1.1377777785rem;
  padding-left: 1.1377777785rem;
}
.separator--long-line {
  position: relative;
}
.separator--long-line::before {
  content: "";
  height: 1.2136296308rem;
}
.separator--long-line::after {
  border-top: 1px solid #E3E3E3;
  content: "";
  height: 1px;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
}

.btn, [type=button],
[type=submit],
button {
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 3px;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.08);
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.08);
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: var(--body-font);
  font-size: 0.8239746086rem;
  font-weight: var(--font-weight-bold);
  padding: 0.5333333333rem 1.3333333333rem;
  vertical-align: middle;
  text-align: center;
  -webkit-transition: all 0.24s ease;
  -o-transition: all 0.24s ease;
  transition: all 0.24s ease;
  vertical-align: top;
  will-change: transform;
}
@media all and (max-width: 19.9375em) {
  .btn, [type=button],
[type=submit],
button {
    width: 100%;
  }
}
.btn:hover, [type=button]:hover,
[type=submit]:hover,
button:hover, .btn:active, [type=button]:active,
[type=submit]:active,
button:active, .btn:focus, [type=button]:focus,
[type=submit]:focus,
button:focus {
  -webkit-box-shadow: 0 7px 14px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
          box-shadow: 0 7px 14px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  color: #FFFFFF;
  text-decoration: none;
}
@media all and (min-width: 20em) {
  .btn + .btn, [type=button] + .btn,
[type=submit] + .btn,
button + .btn, .btn + [type=button], [type=button] + [type=button],
[type=submit] + [type=button],
button + [type=button],
.btn + [type=submit],
[type=button] + [type=submit],
[type=submit] + [type=submit],
button + [type=submit],
.btn + button,
[type=button] + button,
[type=submit] + button,
button + button {
    margin-left: 0.5333333333rem;
  }
}
@media all and (max-width: 37.4375em) {
  .btn + .btn, [type=button] + .btn,
[type=submit] + .btn,
button + .btn, .btn + [type=button], [type=button] + [type=button],
[type=submit] + [type=button],
button + [type=button],
.btn + [type=submit],
[type=button] + [type=submit],
[type=submit] + [type=submit],
button + [type=submit],
.btn + button,
[type=button] + button,
[type=submit] + button,
button + button {
    margin-bottom: 0.5333333333rem;
  }
}
.btn--small {
  padding: 0.4rem 0.8rem;
}
.btn--white {
  background: #FFFFFF;
  border-color: #FFFFFF;
  color: #6C6C6F !important;
}
.btn--yellow {
  background: #F6C144;
  border-color: #F6C144;
  color: #FFFFFF;
}
.btn--green {
  background: #69DA58;
  border-color: #69DA58;
  color: #FFFFFF;
}
.btn--gray {
  background: #6C6C6F;
  border-color: #6C6C6F;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #FFFFFF;
}
.btn--dark {
  background: #000000;
  border-color: #000000;
  color: #FFFFFF;
}
.btn--outline {
  background: none;
  border: 2px solid var(--primary-color);
  -webkit-box-shadow: none;
          box-shadow: none;
  color: var(--primary-color);
}
.btn--outline:hover, .btn--outline:active, .btn--outline:focus {
  background: none;
  border-color: #000000;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #000000;
}
.btn:disabled, [type=button]:disabled,
[type=submit]:disabled,
button:disabled {
  cursor: not-allowed;
}
.btn > svg, [type=button] > svg,
[type=submit] > svg,
button > svg {
  vertical-align: middle;
  margin-right: 0.2666666667rem;
}

[type=button],
[type=submit],
button {
  -webkit-appearance: none;
  -moz-appearance: none;
}

::-webkit-input-placeholder {
  color: var(--text-color);
  opacity: 1;
}

::-moz-placeholder {
  color: var(--text-color);
  opacity: 1;
}

:-ms-input-placeholder {
  color: var(--text-color);
  opacity: 1;
}

::-ms-input-placeholder {
  color: var(--text-color);
  opacity: 1;
}

::placeholder {
  color: var(--text-color);
  opacity: 1;
}

fieldset {
  border: 1px solid #E3E3E3;
  margin: 0 0 1.6rem;
  padding: 1.6rem;
}
fieldset > legend {
  margin-left: -1rem;
  padding: 0 1rem;
}

legend {
  font-weight: var(--font-weight-bold);
}

label {
  font-weight: var(--font-weight-bold);
  margin: 0 1.0666666667rem 0.8rem 0;
}

option {
  font-weight: var(--font-weight-normal);
}

[type=text],
[type=url],
[type=tel],
[type=number],
[type=email],
[type=search],
textarea,
select {
  background-color: #FFFFFF;
  border: 1px solid #E3E3E3;
  border-radius: 2px;
  color: var(--text-color);
  font-size: 1rem;
  outline: none;
  padding: 0.4266666667rem 0.8rem;
  -webkit-transition: all 0.24s ease;
  -o-transition: all 0.24s ease;
  transition: all 0.24s ease;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
}
@media all and (min-width: 20em) {
  [type=text],
[type=url],
[type=tel],
[type=number],
[type=email],
[type=search],
textarea,
select {
    width: auto;
  }
}
[type=text]:focus,
[type=url]:focus,
[type=tel]:focus,
[type=number]:focus,
[type=email]:focus,
[type=search]:focus,
textarea:focus,
select:focus {
  color: var(--text-color);
  border-color: #000000;
}
[type=text]:focus::-webkit-input-placeholder, [type=url]:focus::-webkit-input-placeholder, [type=tel]:focus::-webkit-input-placeholder, [type=number]:focus::-webkit-input-placeholder, [type=email]:focus::-webkit-input-placeholder, [type=search]:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder, select:focus::-webkit-input-placeholder {
  color: var(--text-color) !important;
}
[type=text]:focus::-moz-placeholder, [type=url]:focus::-moz-placeholder, [type=tel]:focus::-moz-placeholder, [type=number]:focus::-moz-placeholder, [type=email]:focus::-moz-placeholder, [type=search]:focus::-moz-placeholder, textarea:focus::-moz-placeholder, select:focus::-moz-placeholder {
  color: var(--text-color) !important;
}
[type=text]:focus:-ms-input-placeholder, [type=url]:focus:-ms-input-placeholder, [type=tel]:focus:-ms-input-placeholder, [type=number]:focus:-ms-input-placeholder, [type=email]:focus:-ms-input-placeholder, [type=search]:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder, select:focus:-ms-input-placeholder {
  color: var(--text-color) !important;
}
[type=text]:focus::-ms-input-placeholder, [type=url]:focus::-ms-input-placeholder, [type=tel]:focus::-ms-input-placeholder, [type=number]:focus::-ms-input-placeholder, [type=email]:focus::-ms-input-placeholder, [type=search]:focus::-ms-input-placeholder, textarea:focus::-ms-input-placeholder, select:focus::-ms-input-placeholder {
  color: var(--text-color) !important;
}
[type=text]:focus::placeholder,
[type=url]:focus::placeholder,
[type=tel]:focus::placeholder,
[type=number]:focus::placeholder,
[type=email]:focus::placeholder,
[type=search]:focus::placeholder,
textarea:focus::placeholder,
select:focus::placeholder {
  color: var(--text-color) !important;
}

input[type=checkbox],
input[type=radio] {
  opacity: 0;
  position: absolute;
}
input[type=checkbox] + label,
input[type=radio] + label {
  display: block;
  font-weight: var(--font-weight-normal);
  position: relative;
  margin-left: -1px;
  cursor: pointer;
  padding: 0 0 0 2.4rem;
}
input[type=checkbox] + label:before,
input[type=radio] + label:before {
  background-color: #FFFFFF;
  border: 1px solid #E3E3E3;
  border-radius: 2px;
  content: "";
  display: block;
  height: 1.3333333333rem;
  left: 0;
  line-height: 1.3333333333rem;
  margin-right: 0.8rem;
  position: absolute;
  text-align: center;
  top: 0.2666666667rem;
  width: 1.3333333333rem;
}
input[type=checkbox]:checked + label::before,
input[type=radio]:checked + label::before {
  background-image: none !important;
  content: "";
  border-color: #000000;
}
input[type=checkbox]:checked + label::after,
input[type=radio]:checked + label::after {
  content: "";
  display: block;
  width: 6px;
  height: 9px;
  border: solid #000000;
  border-width: 0 2px 2px 0;
  left: 0.2933333333rem;
  position: absolute;
  top: 0.8rem;
  -webkit-transform: rotate(45deg) translate(0, -50%);
      -ms-transform: rotate(45deg) translate(0, -50%);
          transform: rotate(45deg) translate(0, -50%);
}

select {
  max-width: 100%;
  width: auto;
  position: relative;
}
select:not([multiple]) {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6 6"><polygon points="3 6 3 6 0 0 6 0 3 6" fill="%23101010"/></svg>') no-repeat 90% 50%;
  background-size: 8px;
  padding-right: 3.2rem;
}

select[multiple] {
  padding: 1.6rem;
  width: 100%;
}
select[multiple]:hover {
  border-color: #E3E3E3;
}
select[multiple]:focus {
  border-color: #000000;
}
select[multiple]:focus option:checked {
  background: #000000 -webkit-gradient(linear, left bottom, left top, from(#000000), to(#000000));
  background: #000000 -o-linear-gradient(bottom, #000000 0%, #000000 100%);
  background: #000000 linear-gradient(0deg, #000000 0%, #000000 100%);
}
select[multiple]:disabled {
  cursor: not-allowed;
}
select[multiple]:disabled:hover {
  border-color: #E3E3E3;
}

textarea {
  display: block;
  overflow: auto;
  resize: vertical;
  max-width: 100%;
}

/* Wrapper + Header ------------------------ */
.header {
  background: #FFFFFF;
  border-bottom: 1px solid #E3E3E3;
  position: relative;
  top: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
  z-index: 999;
}
.header__inner {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "logo search nav";
  -ms-grid-columns: 1fr 1.2rem auto 1.2rem auto;
  grid-template-columns: 1fr auto auto;
  grid-column-gap: 1.2rem;
  height: 4rem;
  opacity: 1;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  max-width: var(--page-width);
  padding: 0 2rem;
}
@media all and (min-width: 37.5em) {
  .header__inner {
        grid-template-areas: "logo search subscribe nav";
    -ms-grid-columns: 1fr auto auto auto;
    grid-template-columns: 1fr auto auto auto;
    height: var(--header-height);
  }
}
@media all and (min-width: 75em) {
  .header__inner {
        grid-template-areas: "logo nav search subscribe";
    -ms-grid-columns: auto minmax(50%, 1fr) auto auto;
    grid-template-columns: auto minmax(50%, 1fr) auto auto;
  }
}
.header__inner--wide {
  max-width: 100%;
}
.header.is-visible {
  background: #FFFFFF;
  border-color: transparent;
  -webkit-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.06);
  opacity: 1;
  position: -webkit-sticky;
  position: sticky;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: height 0.3s, background 0.4s, opacity 0.3s, -webkit-transform 0.3s;
  transition: height 0.3s, background 0.4s, opacity 0.3s, -webkit-transform 0.3s;
  -o-transition: transform 0.3s, height 0.3s, background 0.4s, opacity 0.3s;
  transition: transform 0.3s, height 0.3s, background 0.4s, opacity 0.3s;
  transition: transform 0.3s, height 0.3s, background 0.4s, opacity 0.3s, -webkit-transform 0.3s;
  width: 100%;
}
@media all and (min-width: 56.25em) {
  .header.is-hidden {
    opacity: 0;
    -webkit-transform: translate(0, -86px);
        -ms-transform: translate(0, -86px);
            transform: translate(0, -86px);
    -webkit-transition: background 0.3s, color 0.3s, opacity 0 0.3s, -webkit-transform 0.2s;
    transition: background 0.3s, color 0.3s, opacity 0 0.3s, -webkit-transform 0.2s;
    -o-transition: transform 0.2s, background 0.3s, color 0.3s, opacity 0 0.3s;
    transition: transform 0.2s, background 0.3s, color 0.3s, opacity 0 0.3s;
    transition: transform 0.2s, background 0.3s, color 0.3s, opacity 0 0.3s, -webkit-transform 0.2s;
  }
}

.logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
  position: relative;
  z-index: 998;
}
.logo__link {
  color: var(--logo-color) !important;
  font-family: var(--logo-font);
  font-weight: var(--font-weight-bold);
}
.logo__link {
  font-size: 1.2136296308rem;
}
@media screen and (min-width: 20rem) {
  .logo__link {
    font-size: calc(1.2136296308rem + 0.1672111944 * ((100vw - 20rem) / 55));
  }
}
@media screen and (min-width: 75rem) {
  .logo__link {
    font-size: 1.3808408252rem;
  }
}
.logo__link > img {
  display: block;
  height: 29px;
  vertical-align: middle;
  width: auto;
}

.buttons {
  background: #FFFFFF;
  grid-area: subscribe;
  z-index: 1;
}
@media all and (max-width: 37.4375em) {
  .buttons {
    display: none;
  }
}
.buttons__social a {
  display: inline-block;
  margin: 0 0.4rem;
}
.buttons__social a > svg {
  display: inline-block;
  height: 1.1rem;
  pointer-events: none;
  vertical-align: middle;
  -webkit-transition: all 0.12s linear 0s;
  -o-transition: all 0.12s linear 0s;
  transition: all 0.12s linear 0s;
  width: 1.1rem;
}
.buttons__social a:hover {
  text-decoration: none;
  -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
          transform: translateY(-2px);
}
@media all and (max-width: 37.4375em) {
  .buttons__social {
    display: none;
  }
}

.search {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  background: #FFFFFF;
  grid-area: search;
  z-index: 9999;
}
.search__btn {
  border: none;
  background: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  margin-bottom: 0;
  padding-right: 0;
  width: auto;
}
.search__btn:hover, .search__btn:focus {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
.search__btn:hover > svg, .search__btn:focus > svg {
  fill: #000000;
}
.search__btn > svg {
  display: inline-block;
  fill: #000000;
  height: 15px;
  -webkit-transition: all 0.24s ease;
  -o-transition: all 0.24s ease;
  transition: all 0.24s ease;
  width: 15px;
  vertical-align: middle;
}
.search__form {
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
}
.search__input {
  background: none;
  border: none;
  display: none;
  font-size: 1.2945382732rem;
  font-weight: var(--font-weight-bold);
  opacity: 0;
  padding: 0;
  width: 100%;
}
.search__input:focus {
  color: #000000;
}
.search__input:focus::-webkit-input-placeholder {
  color: #8D8D94 !important;
  opacity: 0.6;
}
.search__input:focus::-moz-placeholder {
  color: #8D8D94 !important;
  opacity: 0.6;
}
.search__input:focus:-ms-input-placeholder {
  color: #8D8D94 !important;
  opacity: 0.6;
}
.search__input:focus::-ms-input-placeholder {
  color: #8D8D94 !important;
  opacity: 0.6;
}
.search__input:focus::placeholder {
  color: #8D8D94 !important;
  opacity: 0.6;
}
.search__close {
  background: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: none;
  color: transparent;
  cursor: pointer;
  margin: 0 !important;
  opacity: 0;
  padding: 0;
  height: 1.2rem;
  width: 1.2rem;
  position: relative;
  text-indent: -999rem;
}
.search__close:before, .search__close:after {
  background-color: #000000;
  content: "";
  left: 1rem;
  height: 1.2rem;
  opacity: 1;
  position: absolute;
  width: 1px;
  top: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.14s ease-out;
  -o-transition: all 0.14s ease-out;
  transition: all 0.14s ease-out;
}
.search__close:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.search__close:hover {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
.search__close:hover:before, .search__close:hover:after {
  background-color: var(--primary-color);
}
.search__overlay {
  background-color: #FFFFFF;
  left: 0;
  opacity: 0;
  position: absolute;
  -webkit-transition: all 0.24s ease-out;
  -o-transition: all 0.24s ease-out;
  transition: all 0.24s ease-out;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 2005;
}
.search__overlay-inner {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 4rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media all and (min-width: 37.5em) {
  .search__overlay-inner {
    height: var(--header-height);
  }
}
.search__overlay.expanded {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
  display: block;
  visibility: visible;
}
.search__overlay.expanded .search__input {
  -webkit-animation: slideininput 0.24s 0.12s forwards;
          animation: slideininput 0.24s 0.12s forwards;
  display: block;
}
@-webkit-keyframes slideininput {
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slideininput {
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.search__overlay.expanded .search__close {
  -webkit-animation: slideinclose 0.24s 0.12s forwards;
          animation: slideinclose 0.24s 0.12s forwards;
}
@-webkit-keyframes slideinclose {
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slideinclose {
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.navbar {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: nav;
}
.navbar .navbar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0 0 0 3.6rem;
  padding: 0;
}
@media all and (max-width: 74.9375em) {
  .navbar .navbar__menu {
    display: none;
  }
}
.navbar .navbar__menu li {
  display: block;
  font-family: var(--menu-font);
  font-size: 0.8239746086rem;
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height);
  letter-spacing: 0.03em;
  padding: 0;
  position: relative;
  text-transform: uppercase;
  white-space: nowrap;
  width: auto;
}
.navbar .navbar__menu li a,
.navbar .navbar__menu li span[aria-haspopup=true] {
  color: #000000;
  display: block;
  padding: 0 0.5333333333rem;
  -webkit-transition: all 0.24s ease-out;
  -o-transition: all 0.24s ease-out;
  transition: all 0.24s ease-out;
}
.navbar .navbar__menu li a:active, .navbar .navbar__menu li a:focus, .navbar .navbar__menu li a:hover,
.navbar .navbar__menu li span[aria-haspopup=true]:active,
.navbar .navbar__menu li span[aria-haspopup=true]:focus,
.navbar .navbar__menu li span[aria-haspopup=true]:hover {
  color: var(--primary-color);
}
.navbar .navbar__menu li span {
  color: #000000;
  cursor: default;
  display: block;
  padding: 0 0.5333333333rem;
}
.navbar .navbar__menu > li.active a {
  color: var(--primary-color);
}
.navbar .navbar__menu > li:hover > a, .navbar .navbar__menu > li:hover > span[aria-haspopup=true] {
  color: var(--primary-color);
}
.navbar .navbar__menu--wide {
  border-left: 1px solid #E3E3E3;
  height: 100%;
  margin: 0 0 0 0.8rem;
}
.navbar .navbar__menu--wide > li {
  border-right: 1px solid #E3E3E3;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  line-height: var(--header-height);
  padding: 0 1rem;
  text-align: center;
  -webkit-transition: all 0.24s ease;
  -o-transition: all 0.24s ease;
  transition: all 0.24s ease;
}
.navbar .navbar__menu--wide > li:hover {
  background: rgba(var(--bg-color), 0.03);
}
.navbar .navbar__menu--wide .has-submenu:active > .navbar__submenu,
.navbar .navbar__menu--wide .has-submenu:focus > .navbar__submenu,
.navbar .navbar__menu--wide .has-submenu:hover > .navbar__submenu {
  left: 0;
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  visibility: visible;
  margin-top: 0;
  min-width: 100%;
}
.navbar .navbar__menu--wide .has-submenu:active > .navbar__submenu:before,
.navbar .navbar__menu--wide .has-submenu:focus > .navbar__submenu:before,
.navbar .navbar__menu--wide .has-submenu:hover > .navbar__submenu:before {
  content: "";
  height: 0.8rem;
  position: absolute;
  width: 100%;
  top: -0.8rem;
}
.navbar .has-submenu:active > .navbar__submenu,
.navbar .has-submenu:focus > .navbar__submenu,
.navbar .has-submenu:hover > .navbar__submenu {
  left: 0;
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  visibility: visible;
  margin-top: 0.8rem;
}
.navbar .has-submenu:active > .navbar__submenu:before,
.navbar .has-submenu:focus > .navbar__submenu:before,
.navbar .has-submenu:hover > .navbar__submenu:before {
  content: "";
  height: 0.8rem;
  position: absolute;
  width: 100%;
  top: -0.8rem;
}
.navbar .has-submenu:active > .navbar__submenu.is-right-submenu,
.navbar .has-submenu:focus > .navbar__submenu.is-right-submenu,
.navbar .has-submenu:hover > .navbar__submenu.is-right-submenu {
  left: auto;
  right: 0;
  -webkit-transform-origin: right top;
      -ms-transform-origin: right top;
          transform-origin: right top;
}
.navbar .has-submenu .has-submenu:active > .navbar__submenu,
.navbar .has-submenu .has-submenu:focus > .navbar__submenu,
.navbar .has-submenu .has-submenu:hover > .navbar__submenu {
  top: 0;
  margin-top: 0;
}
.navbar .has-submenu .has-submenu:active > .navbar__submenu.is-right-submenu,
.navbar .has-submenu .has-submenu:focus > .navbar__submenu.is-right-submenu,
.navbar .has-submenu .has-submenu:hover > .navbar__submenu.is-right-submenu {
  top: 0;
  margin-top: 0;
}
.navbar .navbar__submenu {
  background: var(--primary-color);
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
  left: -9999px;
  list-style-type: none;
  margin: 0;
  padding: 1.0666666667rem 0;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  z-index: 1;
  opacity: 0;
  -webkit-transform: scaleY(0.5);
      -ms-transform: scaleY(0.5);
          transform: scaleY(0.5);
  -webkit-transform-origin: center top;
      -ms-transform-origin: center top;
          transform-origin: center top;
  -webkit-transition: opacity 0.15s, -webkit-transform 0.3s cubic-bezier(0.275, 1.375, 0.8, 1);
  transition: opacity 0.15s, -webkit-transform 0.3s cubic-bezier(0.275, 1.375, 0.8, 1);
  -o-transition: opacity 0.15s, transform 0.3s cubic-bezier(0.275, 1.375, 0.8, 1);
  transition: opacity 0.15s, transform 0.3s cubic-bezier(0.275, 1.375, 0.8, 1);
  transition: opacity 0.15s, transform 0.3s cubic-bezier(0.275, 1.375, 0.8, 1), -webkit-transform 0.3s cubic-bezier(0.275, 1.375, 0.8, 1);
}
.navbar .navbar__submenu__submenu {
  z-index: 2;
}
.navbar .navbar__submenu li {
  line-height: 1.5;
  font-size: 0.8789062495rem;
  text-transform: none;
}
.navbar .navbar__submenu li a,
.navbar .navbar__submenu li span[aria-haspopup=true] {
  color: rgba(255, 255, 255, 0.88) !important;
  padding: 0.5333333333rem 1.6rem;
  -webkit-transition: all 0.24s ease;
  -o-transition: all 0.24s ease;
  transition: all 0.24s ease;
}
.navbar .navbar__submenu li a:active, .navbar .navbar__submenu li a:focus, .navbar .navbar__submenu li a:hover,
.navbar .navbar__submenu li span[aria-haspopup=true]:active,
.navbar .navbar__submenu li span[aria-haspopup=true]:focus,
.navbar .navbar__submenu li span[aria-haspopup=true]:hover {
  background: rgba(255, 255, 255, 0.05);
  color: #FFFFFF !important;
}
.navbar .navbar__submenu li span {
  color: rgba(255, 255, 255, 0.88) !important;
  padding: 0.5333333333rem 1.3333333333rem;
}
.navbar .navbar__submenu li:hover > a, .navbar .navbar__submenu li:hover > span[aria-haspopup=true] {
  color: #FFFFFF !important;
}
.navbar .navbar__toggle {
  background: #FFFFFF;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  display: block;
  line-height: 1;
  height: 4rem;
  margin: 0 0 0 1rem;
  overflow: visible;
  padding: 1.0666666667rem 0 1.0666666667rem 2rem;
  text-transform: none;
  z-index: 2004;
  border-left: 1px solid #E3E3E3;
}
@media all and (min-width: 37.5em) {
  .navbar .navbar__toggle {
    height: var(--header-height);
  }
}
@media all and (min-width: 75em) {
  .navbar .navbar__toggle {
    display: none;
  }
}
.navbar .navbar__toggle:hover, .navbar .navbar__toggle:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}
.navbar .navbar__toggle-box {
  width: 24px;
  height: 14px;
  display: inline-block;
  position: relative;
}
.navbar .navbar__toggle-inner {
  display: block;
  top: 50%;
  text-indent: -9999999em;
}
.navbar .navbar__toggle-inner::before {
  content: "";
  display: block;
  top: -6px;
}
.navbar .navbar__toggle-inner::after {
  content: "";
  display: block;
  bottom: -6px;
}
.navbar .navbar__toggle-inner, .navbar .navbar__toggle-inner::before, .navbar .navbar__toggle-inner::after {
  width: 22px;
  height: 2px;
  background-color: #000000;
  position: absolute;
  -webkit-transition: opacity 0.14s ease-out, -webkit-transform;
  transition: opacity 0.14s ease-out, -webkit-transform;
  -o-transition: transform, opacity 0.14s ease-out;
  transition: transform, opacity 0.14s ease-out;
  transition: transform, opacity 0.14s ease-out, -webkit-transform;
}
.navbar .navbar__toggle-inner {
  -webkit-transition-duration: 0.075s;
       -o-transition-duration: 0.075s;
          transition-duration: 0.075s;
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
       -o-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
          transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.navbar .navbar__toggle-inner::before {
  -webkit-transition: top 0.075s ease 0.12s, opacity 0.075s ease;
  -o-transition: top 0.075s ease 0.12s, opacity 0.075s ease;
  transition: top 0.075s ease 0.12s, opacity 0.075s ease;
}
.navbar .navbar__toggle-inner::after {
  -webkit-transition: bottom 0.075s ease 0.12s, -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s ease 0.12s, -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-transition: bottom 0.075s ease 0.12s, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s ease 0.12s, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s ease 0.12s, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.navbar .navbar__toggle.is-active .navbar__toggle-inner {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition-delay: 0.12s;
       -o-transition-delay: 0.12s;
          transition-delay: 0.12s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
       -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.navbar .navbar__toggle.is-active .navbar__toggle-inner::before {
  top: 0;
  opacity: 0;
  -webkit-transition: top 0.075s ease, opacity 0.075s ease 0.12s;
  -o-transition: top 0.075s ease, opacity 0.075s ease 0.12s;
  transition: top 0.075s ease, opacity 0.075s ease 0.12s;
}
.navbar .navbar__toggle.is-active .navbar__toggle-inner::after {
  bottom: 0;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: bottom 0.075s ease, -webkit-transform 0.075s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
  transition: bottom 0.075s ease, -webkit-transform 0.075s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
  -o-transition: bottom 0.075s ease, transform 0.075s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
  transition: bottom 0.075s ease, transform 0.075s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
  transition: bottom 0.075s ease, transform 0.075s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s, -webkit-transform 0.075s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
}

.navbar_mobile_overlay {
  background: #FFFFFF;
  height: calc(100vh - 4rem);
  left: 0;
  opacity: 1;
  overflow: auto;
  pointer-events: auto;
  position: fixed;
  top: 4rem;
  -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.3, 1);
  -o-transition: all 0.3s cubic-bezier(0, 0, 0.3, 1);
  transition: all 0.3s cubic-bezier(0, 0, 0.3, 1);
  width: 100%;
  z-index: 998;
}
@media all and (min-width: 37.5em) {
  .navbar_mobile_overlay {
    height: calc(100vh - var(--header-height));
    top: var(--header-height);
  }
}
.navbar_mobile_overlay.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.navbar_mobile_overlay .navbar__menu {
  margin: 24px;
}
.navbar_mobile_overlay .navbar__menu li {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.navbar_mobile_overlay .navbar__menu li a,
.navbar_mobile_overlay .navbar__menu li .is-separator {
  color: #000000;
  display: block;
  padding: 10px 20px 10px 0;
  position: relative;
}
.navbar_mobile_overlay .navbar__menu li a:active, .navbar_mobile_overlay .navbar__menu li a:focus, .navbar_mobile_overlay .navbar__menu li a:hover,
.navbar_mobile_overlay .navbar__menu li .is-separator:active,
.navbar_mobile_overlay .navbar__menu li .is-separator:focus,
.navbar_mobile_overlay .navbar__menu li .is-separator:hover {
  color: #000000;
}
.navbar_mobile_overlay .navbar__menu li a[aria-haspopup=true]::after,
.navbar_mobile_overlay .navbar__menu li .is-separator[aria-haspopup=true]::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #6C6C6F transparent transparent transparent;
  left: 0.5333333333rem;
  top: 14px;
  position: relative;
}
.navbar_mobile_overlay .navbar__submenu {
  margin: 0;
  padding: 0;
}
.navbar_mobile_overlay .navbar__submenu_wrapper {
  height: 0;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: all 0.3s cubic-bezier(0.275, 1.375, 0.8, 1);
  -o-transition: all 0.3s cubic-bezier(0.275, 1.375, 0.8, 1);
  transition: all 0.3s cubic-bezier(0.275, 1.375, 0.8, 1);
}
.navbar_mobile_overlay .navbar__submenu_wrapper.is-active {
  height: auto;
  opacity: 1;
}

.navbar_mobile_sidebar {
  background: #FFFFFF;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  height: 100vh;
  left: 0;
  max-width: 400px;
  overflow: auto;
  position: fixed;
  top: 4rem;
  -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.3, 1);
  -o-transition: all 0.3s cubic-bezier(0, 0, 0.3, 1);
  transition: all 0.3s cubic-bezier(0, 0, 0.3, 1);
  width: 80%;
  z-index: 998;
}
@media all and (min-width: 37.5em) {
  .navbar_mobile_sidebar {
    top: var(--header-height);
  }
}
.navbar_mobile_sidebar.is-hidden {
  left: -400px;
}
.navbar_mobile_sidebar .navbar__menu {
  margin: 24px;
}
.navbar_mobile_sidebar .navbar__menu li {
  font-size: 16px;
  list-style: none;
  line-height: 1.3;
  margin: 0;
  padding: 0;
}
.navbar_mobile_sidebar .navbar__menu li a,
.navbar_mobile_sidebar .navbar__menu li .is-separator {
  color: #000000;
  display: block;
  padding: 10px 20px 10px 0;
  position: relative;
}
.navbar_mobile_sidebar .navbar__menu li a:active, .navbar_mobile_sidebar .navbar__menu li a:focus, .navbar_mobile_sidebar .navbar__menu li a:hover,
.navbar_mobile_sidebar .navbar__menu li .is-separator:active,
.navbar_mobile_sidebar .navbar__menu li .is-separator:focus,
.navbar_mobile_sidebar .navbar__menu li .is-separator:hover {
  color: #000000;
}
.navbar_mobile_sidebar .navbar__menu li a[aria-haspopup=true]::after,
.navbar_mobile_sidebar .navbar__menu li .is-separator[aria-haspopup=true]::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #6C6C6F transparent transparent transparent;
  right: 0;
  top: 18px;
  position: absolute;
}
.navbar_mobile_sidebar .navbar__submenu {
  margin: 0 0 0 24px;
  padding: 0;
}
.navbar_mobile_sidebar .navbar__submenu_wrapper {
  height: 0;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: all 0.3s cubic-bezier(0.275, 1.375, 0.8, 1);
  -o-transition: all 0.3s cubic-bezier(0.275, 1.375, 0.8, 1);
  transition: all 0.3s cubic-bezier(0.275, 1.375, 0.8, 1);
}
.navbar_mobile_sidebar .navbar__submenu_wrapper.is-active {
  height: auto;
  opacity: 1;
}
.navbar_mobile_sidebar__overlay {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  opacity: 1;
  pointer-events: auto;
  position: fixed;
  top: 0;
  -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.3, 1);
  -o-transition: all 0.3s cubic-bezier(0, 0, 0.3, 1);
  transition: all 0.3s cubic-bezier(0, 0, 0.3, 1);
  width: 100%;
  z-index: 10;
}
.navbar_mobile_sidebar__overlay.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.wrapper {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  max-width: var(--page-width);
  padding: 0 2rem;
}

main {
  overflow: hidden;
}

.ads {
  text-align: center;
}
.ads--mt {
  margin-top: 2.9333333333rem;
}
.ads--mb {
  margin-bottom: 2.9333333333rem;
}

.author {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 4.2666666667rem 0 0;
}
.author__avatar {
  border-radius: 50%;
  display: block;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  height: 4rem;
  margin-right: 1.2rem;
  width: 4rem;
}
.author__info > p {
  font-family: var(--body-font);
  font-size: 0.8789062495rem;
  line-height: 1.5;
  margin-top: 0.5333333333rem;
}
@media all and (min-width: 37.5em) {
  .author__info > p {
    width: 80%;
  }
}
.author__name {
  font-family: var(--body-font);
  font-size: 1.066666667rem;
  font-weight: var(--font-weight-bold);
  margin: 0;
}

.card__item {
  padding: 0;
  position: relative;
}
.card__image-container {
  position: relative;
}
.card__image {
  background: #F7F8FB;
  display: block;
  height: 9.8rem;
  margin-bottom: 1.3333333333rem;
  position: relative;
}
.card__image > img {
  display: block;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.card__image::after {
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: all 0.24s ease;
  -o-transition: all 0.24s ease;
  transition: all 0.24s ease;
}
.card__image:hover::after {
  background: rgba(0, 0, 0, 0.06);
}
.card__image--large {
  margin-bottom: 1.8666666667rem;
}
.card__maintag {
  bottom: 1rem;
  background: var(--primary-color);
  border-radius: 3px;
  color: #FFFFFF;
  display: inline-block;
  font-size: 0.7241964329rem;
  font-weight: var(--font-weight-bold);
  left: 1rem;
  padding: 0.16rem 0.5333333333rem;
  position: absolute;
}
.card__maintag:hover, .card__maintag:active, .card__maintag:focus {
  color: #FFFFFF;
}
.card__title {
  font-size: 1rem;
  margin: 0;
}
.card__title--large {
  font-size: 1.4728968807rem;
}
@media screen and (min-width: 20rem) {
  .card__title--large {
    font-size: calc(1.4728968807rem + 0.3146544168 * ((100vw - 20rem) / 55));
  }
}
@media screen and (min-width: 75rem) {
  .card__title--large {
    font-size: 1.7875512975rem;
  }
}
.card__meta {
  color: #6C6C6F;
  font-size: 0.6789341556rem;
  letter-spacing: 0.1em;
  margin-top: 0.8rem;
  text-transform: uppercase;
}
@media all and (min-width: 37.5em) {
  .card__meta {
    margin-top: 1.3333333333rem;
  }
}
.card__meta > * {
  display: inline-block;
  margin-right: 1rem;
}
.card__comments > a {
  padding: 0 0.1rem;
}
.card__comments > svg {
  fill: var(--primary-color);
  height: 14px;
  width: 14px;
  vertical-align: sub;
}
.card__content--big {
  position: absolute;
  bottom: 3.4666666667rem;
  left: 2rem;
  right: 2rem;
  text-align: center;
}
.card__content--big a:not(.card__maintag) {
  color: #FFFFFF;
}
.card__content--big a:not(.card__maintag):hover, .card__content--big a:not(.card__maintag):active, .card__content--big a:not(.card__maintag):focus {
  color: #FFFFFF;
  opacity: 0.8;
}
.card__content--big__title {
  letter-spacing: -0.02em;
  margin-top: 0.5333333333rem;
}
.card__content--big__maintag {
  font-size: 0.7724761953rem;
  left: 0;
  padding: 0.3733333333rem 0.6666666667rem;
  position: relative;
}
.card__content--big__meta {
  color: #FFFFFF;
  margin-top: 1.8666666667rem;
}
.card__content--big__meta > * {
  margin-right: 0;
}
.card__text {
  font-family: var(--post-entry-font);
}

.editor-picks {
  margin-top: 2.9333333333rem;
  overflow: hidden;
  position: relative;
}
.editor-picks::after {
  content: "";
  border-bottom: 1px solid #E3E3E3;
  display: block;
  height: 2.9333333333rem;
  margin: 0 auto;
  max-width: var(--page-width);
  width: calc(100% - (2 * 2rem));
}
@media all and (min-width: 37.5em) {
  .editor-picks .card__item:nth-child(1) {
    grid-area: left;
  }
  .editor-picks .card__item:nth-child(2) {
    grid-area: center-top;
  }
  .editor-picks .card__item:nth-child(3) {
    grid-area: right-top;
  }
  .editor-picks .card__item:nth-child(4) {
    grid-area: center-bottom;
  }
  .editor-picks .card__item:nth-child(5) {
    grid-area: right-bottom;
  }
}
.editor-picks .card__image--big {
  height: 38rem;
  margin: 0;
}
.editor-picks .card__image--big::after {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(65%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.41)));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 0.41) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 0.41) 100%);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.editor-picks .cards {
  display: -ms-grid;
  display: grid;
  grid-gap: 40px;
}
@media all and (min-width: 37.5em) {
  .editor-picks .cards {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto 20px auto 20px auto 20px auto;
        grid-template-areas: "left left" "left left" "center-top right-top" "center-bottom right-bottom";
    grid-gap: 20px;
  }
  .editor-picks .card__item:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
  .editor-picks .card__item:nth-child(2) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .editor-picks .card__item:nth-child(3) {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
  }
  .editor-picks .card__item:nth-child(4) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
  }
  .editor-picks .card__item:nth-child(5) {
    -ms-grid-row: 7;
    -ms-grid-column: 3;
  }
}
@media all and (min-width: 75em) {
  .editor-picks .cards {
    grid-gap: 40px;
  }
}
@media all and (min-width: 56.25em) {
  .editor-picks--layout-1 .cards {
    -ms-grid-columns: 2fr 1fr 1fr;
    grid-template-columns: 2fr 1fr 1fr;
        grid-template-areas: "left center-top right-top" "left center-bottom right-bottom";
  }
  .editor-picks--layout-1 .cards > .card__item:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
  .editor-picks--layout-1 .cards > .card__item:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .editor-picks--layout-1 .cards > .card__item:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .editor-picks--layout-1 .cards > .card__item:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  .editor-picks--layout-1 .cards > .card__item:nth-child(5) {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
}
@media all and (min-width: 37.5em) {
  .editor-picks--layout-1 .card__item:nth-child(4) {
    border-top: 1px solid #E3E3E3;
    padding-top: 2.4rem;
  }
  .editor-picks--layout-1 .card__item:nth-child(5) {
    border-top: 1px solid #E3E3E3;
    padding-top: 2.4rem;
  }
}
@media all and (min-width: 56.25em) {
  .editor-picks--layout-2 .cards {
    -ms-grid-columns: 1fr 2fr 1fr;
    grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas: "center-top left right-top" "center-bottom left right-bottom";
  }
  .editor-picks--layout-2 .cards > .card__item:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
  }
  .editor-picks--layout-2 .cards > .card__item:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .editor-picks--layout-2 .cards > .card__item:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .editor-picks--layout-2 .cards > .card__item:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .editor-picks--layout-2 .cards > .card__item:nth-child(5) {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
}
@media all and (min-width: 37.5em) {
  .editor-picks--layout-2 .card__item:nth-child(4) {
    border-top: 1px solid #E3E3E3;
    padding-top: 2.4rem;
  }
  .editor-picks--layout-2 .card__item:nth-child(5) {
    border-top: 1px solid #E3E3E3;
    padding-top: 2.4rem;
  }
}
@media all and (min-width: 56.25em) {
  .editor-picks--layout-3 .cards {
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
        grid-template-areas: "left left left left" "center-top right-top center-bottom right-bottom";
  }
  .editor-picks--layout-3 .cards > .card__item:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
  }
  .editor-picks--layout-3 .cards > .card__item:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .editor-picks--layout-3 .cards > .card__item:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  .editor-picks--layout-3 .cards > .card__item:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
  .editor-picks--layout-3 .cards > .card__item:nth-child(5) {
    -ms-grid-row: 2;
    -ms-grid-column: 4;
  }
}

.container {
  padding-top: 2.9333333333rem;
}
@media all and (min-width: 56.25em) and (max-width: 74.9375em) {
  .container--sidebar {
    max-width: 80%;
    margin: 0 auto;
  }
}
@media all and (min-width: 75em) {
  .container--sidebar {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(0, 1fr) 2.9333333333rem var(--sidebar-width);
    grid-template-columns: minmax(0, 1fr) var(--sidebar-width);
    grid-gap: 2.9333333333rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.container--centered {
  margin: 0 auto;
}
@media all and (min-width: 56.25em) {
  .container--centered {
    max-width: 80%;
  }
}
@media all and (min-width: 75em) {
  .container--centered {
    max-width: calc(100% - var(--sidebar-width));
  }
}

.articles {
  padding-bottom: 3.2rem;
}
@media all and (min-width: 75em) {
  .articles.is-sidebar {
    border-right: 1px solid #E3E3E3;
    padding-right: 2.9333333333rem;
  }
}
.articles__inner {
  list-style: none;
  margin: 0;
}
.articles__inner--layout-1 {
  display: -ms-grid;
  display: grid;
  grid-gap: 2.9333333333rem 20px;
  -ms-grid-columns: 100%;
  grid-template-columns: 100%;
}
@media all and (min-width: 37.5em) {
  .articles__inner--layout-1 {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media all and (min-width: 56.25em) {
  .articles__inner--layout-1 {
    grid-gap: 2.9333333333rem 40px;
  }
}
.articles__inner--layout-1 .card__item:last-child::after {
  border: none !important;
}
@media all and (min-width: 37.5em) {
  .articles__inner--layout-1 .card__item:nth-child(4n-3), .articles__inner--layout-1 .card__item:nth-child(4n-2) {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }
}
.articles__inner--layout-1 .card__item:nth-child(4n-3)::after, .articles__inner--layout-1 .card__item:nth-child(4n-2)::after {
  content: "";
  border-bottom: 1px solid #E3E3E3;
  display: block;
  height: 1px;
  margin-top: 2.9333333333rem;
  width: var(--separator-width);
}
@media all and (min-width: 37.5em) {
  .articles__inner--layout-1 .card__item:nth-child(4n-3)::after, .articles__inner--layout-1 .card__item:nth-child(4n-2)::after {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }
}
.articles__inner--layout-1 .card__item:nth-child(4n-3) .card__image, .articles__inner--layout-1 .card__item:nth-child(4n-2) .card__image {
  height: 20rem;
}
@media all and (min-width: 37.5em) {
  .articles__inner--layout-1 .card__item:nth-child(4n+1):not(:first-child) {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }
}
.articles__inner--layout-1 .card__item:nth-child(4n+1):not(:first-child)::before {
  content: "";
  border-top: 1px solid #E3E3E3;
  display: block;
  height: 1px;
  margin-bottom: 2.9333333333rem;
  width: var(--separator-width);
}
@media all and (min-width: 37.5em) {
  .articles__inner--layout-1 .card__item:nth-child(4n+1):not(:first-child)::before {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }
}
.articles__inner--layout-1.articles__inner--horizontal .card__item:nth-child(4n) .card__image, .articles__inner--layout-1.articles__inner--horizontal .card__item:nth-child(4n-1) .card__image {
  height: 9.8rem !important;
}
.articles__inner--layout-2 {
  display: -ms-grid;
  display: grid;
  grid-gap: 2.9333333333rem 20px;
  -ms-grid-columns: 100%;
  grid-template-columns: 100%;
}
@media all and (min-width: 37.5em) {
  .articles__inner--layout-2 {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media all and (min-width: 56.25em) {
  .articles__inner--layout-2 {
    grid-gap: 2.9333333333rem 40px;
  }
}
.articles__inner--layout-2 .card__item:last-child::after {
  border: none !important;
}
@media all and (min-width: 37.5em) {
  .articles__inner--layout-2 .card__item:nth-child(3n-2) {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }
}
.articles__inner--layout-2 .card__item:nth-child(3n-2)::after {
  content: "";
  border-bottom: 1px solid #E3E3E3;
  display: block;
  height: 1px;
  margin-top: 2.9333333333rem;
  width: var(--separator-width);
}
@media all and (min-width: 37.5em) {
  .articles__inner--layout-2 .card__item:nth-child(3n-2)::after {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }
}
.articles__inner--layout-2 .card__item:nth-child(3n-2) .card__image {
  height: 20rem;
}
@media all and (min-width: 37.5em) {
  .articles__inner--layout-2 .card__item:nth-child(3n+1):not(:first-child) {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }
}
.articles__inner--layout-2 .card__item:nth-child(3n+1):not(:first-child)::before {
  content: "";
  border-top: 1px solid #E3E3E3;
  display: block;
  height: 1px;
  margin-bottom: 2.9333333333rem;
  width: var(--separator-width);
}
@media all and (min-width: 37.5em) {
  .articles__inner--layout-2 .card__item:nth-child(3n+1):not(:first-child)::before {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }
}
.articles__inner--layout-2.articles__inner--horizontal .card__item:nth-child(3n) .card__image, .articles__inner--layout-2.articles__inner--horizontal .card__item:nth-child(3n-1) .card__image {
  height: 9.8rem !important;
}
.articles__inner--layout-3 .card__item {
  margin-bottom: 2.9333333333rem;
}
.articles__inner--layout-3 .card__item:last-child {
  margin-bottom: 0;
}
.articles__inner--layout-3 .card__item::after {
  content: "";
  border-bottom: 1px solid #E3E3E3;
  display: block;
  height: 1px;
  margin-top: 2.9333333333rem;
  width: var(--separator-width);
}
@media all and (min-width: 37.5em) {
  .articles__inner--layout-3 .card__item::after {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }
}
.articles__inner--layout-3 .card__item:last-child::after {
  border: none !important;
}
.articles__inner--layout-3 .card__item .card__image {
  height: 20rem;
}
.articles__inner--layout-4 .card__item {
  margin-bottom: 2.1333333333rem;
}
.articles__inner--layout-4 .card__item:last-child {
  margin-bottom: 0;
}
@media all and (min-width: 56.25em) {
  .articles__inner--layout-4 .card__item {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 30% 40px 1fr;
    grid-template-columns: 30% 1fr;
    grid-column-gap: 40px;
  }
  .articles__inner--layout-4 .card__item h2 {
    margin-top: 0.5333333333rem;
  }
}
.articles__inner--layout-4 .card__item::after {
  content: "";
  border-bottom: 1px solid #E3E3E3;
  display: block;
  height: 1px;
  margin-top: 2.1333333333rem;
  width: var(--separator-width);
}
@media all and (min-width: 37.5em) {
  .articles__inner--layout-4 .card__item::after {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }
}
.articles__inner--layout-4 .card__item:last-child::after {
  border: none !important;
}
@media all and (min-width: 56.25em) {
  .articles__inner--layout-4 .card__item--full {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-column-gap: 0;
  }
}
.articles__inner--layout-4 .card__image {
  margin: 0;
}

@media all and (max-width: 74.9375em) {
  .sidebar {
    border-top: 1px solid #E3E3E3;
    padding-top: 2.9333333333rem;
  }
}
@media all and (min-width: 56.25em) {
  .sidebar {
    padding-bottom: 3.2rem;
  }
}
.sidebar__item-title {
  margin: 0 0 2.4rem;
  text-transform: uppercase;
}
.sidebar__item + .sidebar__item {
  margin-top: 3.2rem;
}
@media all and (min-width: 56.25em) {
  .sidebar__item + .sidebar__item {
    margin-top: 4.8rem;
  }
}

.featured-posts__list {
  margin: 0;
  list-style: none;
  counter-reset: my-awesome-counter;
}
.featured-posts__item {
  border-bottom: 1px solid #E3E3E3;
  counter-increment: counter;
  margin-bottom: 1.3333333333rem;
  padding: 0 0 1.3333333333rem 3.4rem;
  position: relative;
}
.featured-posts__item:last-child {
  border: none;
  padding-bottom: 0;
}
.featured-posts__item::before {
  content: "0" counter(counter) ".";
  font-weight: var(--font-weight-bold);
  font-size: 1.2945382732rem;
  line-height: 1.15;
  position: absolute;
  top: 0;
  left: 0;
}
.featured-posts__image {
  margin-bottom: 2.1333333333rem;
}

.latest-review {
  background: #000000;
  padding: 40px;
}
.latest-review__list {
  margin: 0;
  list-style: none;
}
@media all and (min-width: 37.5em) {
  .latest-review__list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2.9333333333rem 20px;
  }
}
.latest-review__item {
  padding-left: 0;
}
.latest-review__item .card__image {
  background: #222222;
  height: 6.8rem;
}
.latest-review__item .card__meta {
  color: #8D8D94;
}
.latest-review__image {
  display: block;
  height: 4.5rem;
  width: 30%;
  max-width: 6.4rem;
}
.latest-review h2 {
  color: #FFFFFF;
}
.latest-review a {
  color: #FFFFFF;
  text-decoration: none;
  -webkit-transition: all 0.24s ease;
  -o-transition: all 0.24s ease;
  transition: all 0.24s ease;
}
.latest-review a:hover {
  color: #FFFFFF;
}
.latest-review a:active {
  color: #FFFFFF;
}
.latest-review a:focus {
  color: #FFFFFF;
}
.latest-review a:hover {
  opacity: 0.7;
}
.latest-review .btn--outline {
  border: 2px solid #6C6C6F;
  color: #8D8D94;
  margin-top: 2.1333333333rem;
}
.latest-review .btn--outline:hover, .latest-review .btn--outline:active, .latest-review .btn--outline:focus {
  border-color: #FFFFFF;
  color: #FFFFFF;
}

.tags__list {
  margin: 0;
  list-style: none;
}
.tags__item {
  display: inline-block;
  margin: 0 0.5333333333rem 0.5333333333rem 0;
  padding: 0;
}
.tags__item a {
  border: 1px solid #E3E3E3;
  border-radius: 3px;
  display: inline-block;
  font-size: 0.6789341556rem;
  letter-spacing: 0.1em;
  padding: 0.4666666667rem 0.6666666667rem;
  text-transform: uppercase;
}
.tags__item a > span {
  color: #8D8D94;
}
.tags__item a:hover {
  border-color: var(--link-color);
}

.authors__list {
  margin: 0;
  list-style: none;
}
@media all and (min-width: 37.5em) and (max-width: 74.9375em) {
  .authors__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.authors__item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.8666666667rem;
  padding-left: 0;
}
.authors__item .card__title {
  margin: 0 0 -0.8rem;
}
.authors__image {
  background: #F7F8FB;
  border-radius: 50%;
  height: 3.6rem;
  margin-right: 20px;
  overflow: hidden;
  width: 3.6rem;
}

.post {
  padding: 0 0 4.2666666667rem;
}
@media all and (min-width: 75em) {
  .post.is-sidebar {
    border-right: 1px solid #E3E3E3;
    padding-right: 2.9333333333rem;
  }
}
.post__inner {
  margin: 0 auto 2.1333333333rem;
  max-width: 46rem;
}
.post__header {
  margin-bottom: 2.1333333333rem;
  padding: 0;
  position: relative;
  z-index: 1;
}
.post__header--full {
  margin-top: 2.1333333333rem;
  text-align: center;
}
@media all and (min-width: 56.25em) {
  .post__header--full {
    margin-top: 2.9333333333rem;
  }
}
@media all and (min-width: 56.25em) {
  .post__header--partial {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.post__header--partial__left {
  padding: 2.6666666667rem 0;
  text-align: center;
}
@media all and (min-width: 56.25em) {
  .post__header--partial__left {
    width: 50%;
    text-align: left;
  }
}
@media all and (min-width: 56.25em) {
  .post__header--partial__left > div {
    margin-left: auto;
    max-width: calc(var(--page-width) / 2);
    padding-right: 4rem;
  }
}
.post__header.is-avatar {
  margin-bottom: 3.2rem;
}
.post__title {
  margin: 1.0666666667rem 0 1.0666666667rem;
}
.post__title.is-sidebar {
  margin-top: 0;
}
.post__featured-image {
  background-color: #F7F8FB;
}
.post__featured-image > img {
  display: inline-block;
}
.post__featured-image > figcaption {
  background: #FFFFFF;
  margin: 0;
  padding-top: 0.5333333333rem;
}
.post__hero-image {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  background-color: #F7F8FB;
  display: block;
  height: 100%;
  position: relative;
  width: 100%;
}
@media all and (min-width: 56.25em) {
  .post__hero-image {
    height: 60vh;
  }
}
.post__hero-image > img {
  display: block;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  width: inherit;
}
.post__hero-image > figcaption {
  background: #000000;
  border-radius: 2px;
  bottom: 2rem;
  color: #E3E3E3;
  padding: 0 0.4rem;
  left: 2rem;
  position: absolute;
}
@media all and (min-width: 37.5em) {
  .post__hero-image > figcaption {
    left: auto;
    right: 2rem;
  }
}
.post__hero-image--nomargin {
  margin-top: 0;
}
.post__hero-image--full {
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  width: 100vw;
}
.post__hero-image--partial {
  margin-top: 0;
  width: 100%;
}
@media all and (min-width: 56.25em) {
  .post__hero-image--partial {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
    margin-right: calc(-50vw + 50%);
    width: 50vw;
  }
}
.post__hero-image--partial > figcaption {
  background: #FFFFFF;
  border-radius: none;
  bottom: inherit;
  color: #6C6C6F;
  left: 0;
  margin: 0;
  padding: 0.8rem 0 0;
  right: inherit;
  position: relative;
  text-align: left;
}
.post__maintag {
  bottom: 1rem;
  background: var(--primary-color);
  border-radius: 3px;
  color: #FFFFFF;
  display: inline-block;
  font-size: 0.7241964329rem;
  font-weight: var(--font-weight-bold);
  margin-bottom: 0.5333333333rem;
  padding: 0.16rem 0.5333333333rem;
}
.post__maintag:hover, .post__maintag:active, .post__maintag:focus {
  color: #FFFFFF;
}
.post__image {
  display: inline-block;
}
.post__image > img {
  display: inline-block;
}
.post__image--left {
  float: left;
  margin-right: 2.1333333333rem;
  max-width: 50%;
}
.post__image--right {
  float: right;
  margin-left: 2.1333333333rem;
  max-width: 50%;
}
.post__image--center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.post__image--wide {
  display: block;
}
@media all and (min-width: 56.25em) {
  .post__image--wide {
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    padding: 0 2rem;
    text-align: center;
  }
}
.post__image--wide a,
.post__image--wide img {
  height: auto;
  width: var(--page-width);
}
.post__image--full {
  display: block;
}
@media all and (min-width: 56.25em) {
  .post__image--full {
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    text-align: center;
  }
}
.post__image--full a,
.post__image--full img {
  display: block;
  height: auto;
  width: 100%;
}
@media all and (min-width: 56.25em) {
  .is-sidebar .post__image--wide,
.is-sidebar .post__image--full {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
}

.post__entry {
  font-family: var(--post-entry-font);
  margin-top: 2.6666666667rem;
}
.post__entry > :nth-child(1) {
  margin-top: 0;
}
.post__entry a:not(.btn):not([type=button]):not([type=submit]):not(button) {
  text-decoration: underline;
  -webkit-text-decoration-skip: ink;
          text-decoration-skip: ink;
}
.post__entry a:not(.btn):not([type=button]):not([type=submit]):not(button):hover, .post__entry a:not(.btn):not([type=button]):not([type=submit]):not(button):active, .post__entry a:not(.btn):not([type=button]):not([type=submit]):not(button):focus {
  color: var(--link-color);
  background: rgba(var(--bg-color), 0.04);
}
.post__video, .post__iframe {
  position: relative;
  display: block;
  margin-top: 1.6rem;
  margin-bottom: 2.1333333333rem;
  overflow: hidden;
  padding: 0;
  width: 100%;
}
.post__video::before, .post__iframe::before {
  display: block;
  content: "";
  padding-top: 56.25%;
}
.post__video--21by9::before, .post__iframe--21by9::before {
  padding-top: 42.857143%;
}
.post__video--4by3::before, .post__iframe--4by3::before {
  padding-top: 75%;
}
.post__video--1by1::before, .post__iframe--1by1::before {
  padding-top: 100%;
}
.post__video > iframe, .post__iframe > iframe {
  border: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.post__toc ul {
  counter-reset: item;
  list-style: decimal;
  margin: 0.5333333333rem 0 0 1.2rem;
}
.post__toc ul li {
  counter-increment: item;
  padding: 0;
}
.post__toc ul ul {
  margin-top: 0;
}
.post__toc ul ul li {
  display: block;
}
.post__toc ul ul li:before {
  content: counters(item, ".") ". ";
  margin-left: -20px;
}
.post-desc {
  margin-top: 0.8rem;
}
.post__aside {
  margin-top: 1.6rem;
}
@media all and (min-width: 37.5em) {
  .post__aside {
    float: right;
    margin: 1.6rem 0 1.6rem 3.2rem;
    max-width: 40%;
    position: relative;
    z-index: 1;
  }
}
.post__aside > :nth-child(1) {
  margin: 0;
}
@media all and (min-width: 37.5em) {
  .post__aside--left {
    float: left;
    margin: 1.6rem 3.2rem 1.6rem 0;
  }
}
.post__footer {
  margin-bottom: 0.5333333333rem;
}
.post__footer-title {
  font-size: 0.7241964329rem;
  margin-bottom: 0.8rem;
  text-transform: uppercase;
}
.post__updated {
  color: #6C6C6F;
  font-size: 0.8789062495rem;
  font-style: italic;
  margin-bottom: 1.0666666667rem;
}
.post__tag-inner {
  margin: 0 -0.2666666667rem;
  list-style: none;
}
.post__tag li {
  display: inline-block;
  margin: 0.2666666667rem;
  padding: 0;
}
.post__tag li > a {
  border: 1px solid #E3E3E3;
  border-radius: 3px;
  display: inline-block;
  font-size: 0.6789341556rem;
  letter-spacing: 0.1em;
  padding: 0.4666666667rem 0.6666666667rem;
  text-transform: uppercase;
}
.post__tag li > a:hover {
  border-color: var(--link-color);
}
.post__share {
  margin: 0.8rem 0;
}
@media all and (min-width: 37.5em) {
  .post__share {
    display: none;
  }
}
.post__share-inner {
  margin: 0 -0.2666666667rem;
}
.post__share-inner > a {
  border-radius: 2px;
  display: inline-block;
  margin: 0.2666666667rem;
  line-height: 1;
  padding: 0.5333333333rem 0.8rem;
  text-align: center;
}
.post__share-inner > a:hover {
  background: #000000;
}
.post__share-inner > a span {
  color: #FFFFFF;
  font-size: 0.5967194723rem;
  font-weight: var(--font-weight-bold);
  margin-left: 0.2666666667rem;
  text-transform: uppercase;
}
.post__share-inner > a svg {
  fill: #FFFFFF;
  height: 18px;
  pointer-events: none;
  width: 18px;
  vertical-align: middle;
}
.post__comments {
  border-top: 1px solid #E3E3E3;
  margin-top: 4.2666666667rem;
  padding-top: 3.2rem;
}
.post__comments-button.is-hidden {
  display: none;
}
.post__comments-inner--hidden {
  display: none;
}
.post__comments-inner.is-visible {
  display: block;
}
.post__comments-inner > h3 {
  margin: 0 0 1.6rem;
}
.post__related {
  border-top: 1px solid #E3E3E3;
  padding: 1.0666666667rem 0 3.2rem;
}
.post__related-cards {
  display: -ms-grid;
  display: grid;
  grid-gap: 40px 20px;
  margin-top: 1.6rem;
}
@media all and (min-width: 37.5em) {
  .post__related-cards {
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  }
}
@media all and (min-width: 75em) {
  .post__related-cards {
    grid-gap: 40px;
  }
}

.postbar {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  opacity: 0;
  padding: 0 2rem;
  width: 100%;
  -webkit-transition: all 0.36s ease-out;
  -o-transition: all 0.36s ease-out;
  transition: all 0.36s ease-out;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 999;
}
@media all and (min-width: 37.5em) {
  .postbar {
    display: block;
  }
}
.postbar.is-visible {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
.postbar__inner {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 -7px 10px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 -7px 10px 0 rgba(0, 0, 0, 0.06);
  border-radius: 4px 4px 0 0;
  background: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.8rem 0.5333333333rem 1.0666666667rem;
  max-width: var(--page-width);
  margin: 0 auto;
  position: relative;
}
.postbar__nav-link {
  font-size: 0.6789341556rem;
  letter-spacing: 0.1em;
  padding: 1rem;
  text-transform: uppercase;
}
.postbar__nav-link > svg {
  fill: var(--primary-color);
}
.postbar__nav-link > span {
  margin: 0 0.2666666667rem;
}
.postbar__nav-link[href=""] {
  opacity: 0.3;
  pointer-events: none;
}
.postbar__nav-link[href=""] > svg {
  fill: #6C6C6F;
}
.postbar__share {
  grid-area: social;
}
.postbar__share-inner > h3 {
  display: none;
  font-size: 0.6789341556rem;
  font-family: var(--body-font);
  font-weight: var(--font-weight-normal);
  letter-spacing: 0.1em;
  margin-top: 0;
  text-transform: uppercase;
}
@media all and (min-width: 56.25em) {
  .postbar__share-inner > h3 {
    display: inline-block;
  }
}
.postbar__share-inner > a {
  display: inline-block;
  margin: 0;
  padding: 0.4rem;
}
.postbar__share-inner > a svg {
  height: 18px;
  pointer-events: none;
  width: 18px;
  vertical-align: middle;
}
.postbar__share-inner > a:hover {
  -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
          transform: translateY(-2px);
}
.postbar__progress {
  background: -webkit-gradient(linear, left top, right top, from(var(--primary-color)), color-stop(0, transparent));
  background: -o-linear-gradient(left, var(--primary-color) var(--scroll), transparent 0);
  background: linear-gradient(to right, var(--primary-color) var(--scroll), transparent 0);
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 0;
  z-index: 100;
}

.page__title {
  border-bottom: 1px solid #E3E3E3;
  margin-top: 2.1333333333rem;
  padding-bottom: 2.1333333333rem;
  text-align: center;
}
.page__title h1 {
  margin: 0;
  color: #8D8D94;
}
.page__title h1::first-letter {
  text-transform: uppercase;
}
.page__title h1 > sup {
  font-weight: var(--font-weight-normal);
  font-size: 1rem;
}
.page__title--centered {
  margin-left: auto;
  margin-right: auto;
}
@media all and (min-width: 56.25em) {
  .page__title--centered {
    max-width: 80%;
  }
}
@media all and (min-width: 75em) {
  .page__title--centered {
    max-width: calc(100% - var(--sidebar-width));
  }
}
.page__desc {
  color: #6C6C6F;
  font-size: 0.8789062495rem;
  line-height: 1.5;
  margin: 0.5333333333rem auto 0;
}
@media all and (min-width: 56.25em) {
  .page__desc {
    width: 60%;
  }
}
.page--author__avatar {
  border-radius: 50%;
  height: 3.4rem;
  margin-bottom: 0.5333333333rem;
  width: 3.4rem;
}
.page--author__website {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 0.6789341556rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.page--author__website a {
  margin-left: 0.4rem;
}
.page--404 {
  text-align: center;
}
.page--search__form {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media all and (max-width: 37.4375em) {
  .page--search__input {
    margin-bottom: 0.5333333333rem;
  }
}
@media all and (min-width: 20em) {
  .page--search__input {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    margin-right: 0.5333333333rem;
  }
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.align-justify {
  text-align: justify;
}

.iframe {
  border: 1px solid #E3E3E3;
}

.ordered-list {
  counter-reset: listCounter;
}
.ordered-list li {
  counter-increment: listCounter;
  list-style: none;
  position: relative;
}
.ordered-list li::before {
  color: var(--primary-color);
  content: counter(listCounter, decimal-leading-zero) ".";
  font-weight: var(--font-weight-bold);
  left: -2rem;
  position: absolute;
}

.msg {
  padding: 0.2666666667rem 1.3333333333rem;
  border-left: 4px solid transparent;
}
.msg--highlight {
  border-color: #F6C144;
}
.msg--info {
  border-color: #3773EB;
}
.msg--success {
  border-color: #69DA58;
}
.msg--warning {
  border-color: #EC1037;
}

.dropcap:first-letter {
  color: var(--headings-color);
  float: left;
  font-family: var(--heading-font);
  font-size: 4.4122554267rem;
  font-weight: var(--font-weight-bold);
  line-height: 1;
  margin-right: 0.5333333333rem;
  padding: 0.5333333333rem 0.5333333333rem 0 0;
}

.pagination {
  border-top: 1px solid #E3E3E3;
  padding-top: 2.1333333333rem;
}
@media all and (min-width: 20em) {
  .pagination > a + a {
    margin-left: 0.5333333333rem;
  }
}

.newsletter-popup {
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  position: fixed;
  z-index: 1000;
}
@media all and (min-height: 0em) and (max-height: 48.0625em) {
  .newsletter-popup {
    display: none;
  }
}
@media all and (min-width: 37.5em) {
  .newsletter-popup {
    bottom: 0;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    visibility: hidden;
    width: 100%;
  }
}
.newsletter-popup.is-visible {
  opacity: 1;
  visibility: visible;
}
.newsletter-popup__inner {
  background: #FFFFFF;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  max-width: 52rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.newsletter-popup__left {
  background: rgba(var(--bg-color), 0.03);
  border-radius: 4px 0 0 4px;
  height: 100%;
  left: 0;
  margin: 0;
  overflow: hidden;
  position: absolute;
  padding: 2rem 0 2rem 2rem;
  top: 0;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.newsletter-popup__right {
  background: rgba(var(--bg-color), 0.03);
  font-family: var(--post-entry-font);
  line-height: 1.5;
  padding: 2.6666666667rem;
  width: 100%;
}
@media all and (min-width: 56.25em) {
  .newsletter-popup__right {
    padding: 3.7333333333rem;
  }
}
.newsletter-popup__right.is-image {
  margin-left: 40%;
}
.newsletter-popup__close {
  background: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 0;
  color: #000000;
  font-size: 1.2136296308rem;
  font-weight: var(--font-weight-normal);
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}
.newsletter-popup__close:hover {
  color: var(--primary-color);
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}
.newsletter-popup h3 {
  margin-top: 0;
}
.newsletter-popup p {
  margin: 0.5333333333rem 0 1.0666666667rem;
}
.newsletter-popup input[type=email],
.newsletter-popup input[type=text] {
  margin-top: 0.5333333333rem;
  width: 100%;
}
.newsletter-popup__agree {
  margin: 1.3333333333rem 0 1.3333333333rem;
  text-align: left;
}
.newsletter-popup__agree li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0;
}
.newsletter-popup__agree li label {
  margin-right: 0;
}
.newsletter-popup__submit {
  width: 100%;
}

.footer {
  border-top: 1px solid #E3E3E3;
  font-size: 0.8789062495rem;
  padding: 3.2rem 0;
  text-align: center;
}
@media all and (min-width: 37.5em) {
  .footer {
    padding: 4.8rem 0 6.4rem;
  }
}
.footer a {
  color: var(--link-color-hover);
  text-decoration: none;
  -webkit-transition: all 0.24s ease;
  -o-transition: all 0.24s ease;
  transition: all 0.24s ease;
}
.footer a:hover {
  color: var(--link-color);
}
.footer a:active {
  color: var(--link-color);
}
.footer a:focus {
  color: var(--link-color);
}
.footer__logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  display: inline-block;
  font-family: var(--heading-font);
  font-size: 1.2136296308rem;
  font-weight: var(--font-weight-bold);
  grid-area: logo;
  margin-right: auto;
}
@media all and (min-width: 37.5em){
  .logo {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .buttons {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .search {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .navbar {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
  }
  .footer__logo {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
}
@media all and (min-width: 75em){
  .logo {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .buttons {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
  }
  .search {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .navbar {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .footer__logo {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
}
.footer__logo > img {
  height: 29px;
  width: auto;
}
.footer__nav {
  margin: 2.1333333333rem 0 0;
}
.footer__nav li {
  display: inline-block;
  font-weight: bold;
  margin: 0 0.5333333333rem 0;
  padding: 0;
  position: relative;
}
.footer__social a {
  display: inline-block;
  margin: 0 0.4rem;
}
.footer__social a > svg {
  display: inline-block;
  height: 1.1rem;
  pointer-events: none;
  -webkit-transition: all 0.12s linear 0s;
  -o-transition: all 0.12s linear 0s;
  transition: all 0.12s linear 0s;
  width: 1.1rem;
}
.footer__social a:hover {
  text-decoration: none;
  -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
          transform: translateY(-2px);
}
.footer__copy {
  font-size: 0.8239746086rem;
  line-height: 2;
  margin: 2.1333333333rem 0;
}

.gallery {
  margin: 2.6666666667rem -0.2666666667rem;
}
@media all and (min-width: 20em) {
  .gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.gallery-wrapper--wide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media all and (min-width: 56.25em) {
  .gallery-wrapper--wide {
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    padding: 0 2rem;
  }
}
@media all and (min-width: 56.25em) {
  .gallery-wrapper--wide .gallery {
    max-width: calc(var(--page-width) + 0.5333333333rem);
  }
}
@media all and (min-width: 56.25em) {
  .gallery-wrapper--full {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
  }
}
@media all and (min-width: 20em) {
  .gallery[data-columns="1"] .gallery__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
  }
}
@media all and (min-width: 30em) {
  .gallery[data-columns="2"] .gallery__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
  }
}
@media all and (min-width: 37.5em) {
  .gallery[data-columns="3"] .gallery__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 33.333%;
            flex: 1 0 33.333%;
  }
}
@media all and (min-width: 56.25em) {
  .gallery[data-columns="4"] .gallery__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%;
  }
}
@media all and (min-width: 56.25em) {
  .gallery[data-columns="5"] .gallery__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 20%;
            flex: 0 1 20%;
  }
}
@media all and (min-width: 56.25em) {
  .gallery[data-columns="6"] .gallery__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 16.666%;
            flex: 0 1 16.666%;
  }
}
@media all and (min-width: 56.25em) {
  .gallery[data-columns="7"] .gallery__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 14.285%;
            flex: 1 0 14.285%;
  }
}
@media all and (min-width: 56.25em) {
  .gallery[data-columns="8"] .gallery__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 12.5%;
            flex: 1 0 12.5%;
  }
}
.gallery__item {
  margin: 0;
  padding: 0.2666666667rem;
  position: relative;
}
@media all and (min-width: 20em) {
  .gallery__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
  }
}
@media all and (min-width: 30em) {
  .gallery__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 33.333%;
            flex: 1 0 33.333%;
  }
}
@media all and (min-width: 37.5em) {
  .gallery__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 25%;
            flex: 1 0 25%;
  }
}
.gallery__item a {
  display: block;
  height: 100%;
  width: 100%;
}
.gallery__item a::after {
  background: -webkit-gradient(linear, left bottom, left top, from(#000000), to(transparent));
  background: -o-linear-gradient(bottom, #000000, transparent);
  background: linear-gradient(to top, #000000, transparent);
  bottom: 0.2666666667rem;
  content: "";
  display: block;
  opacity: 0;
  left: 0.2666666667rem;
  height: calc(100% - 0.5333333333rem);
  position: absolute;
  right: 0.2666666667rem;
  top: 0.2666666667rem;
  -webkit-transition: all 0.24s ease-out;
  -o-transition: all 0.24s ease-out;
  transition: all 0.24s ease-out;
  width: calc(100% - 0.5333333333rem);
}
.gallery__item a:hover::after {
  opacity: 0.4;
}
.gallery__item img {
  display: block;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.gallery__item figcaption {
  bottom: 1.2rem;
  color: #FFFFFF;
  left: 50%;
  opacity: 0;
  position: absolute;
  text-align: center;
  -webkit-transform: translate(-50%, 1.2rem);
      -ms-transform: translate(-50%, 1.2rem);
          transform: translate(-50%, 1.2rem);
  -webkit-transition: all 0.24s ease-out;
  -o-transition: all 0.24s ease-out;
  transition: all 0.24s ease-out;
}
.gallery__item:hover figcaption {
  opacity: 1;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.pswp--dark .pswp__bg {
  background: #000000;
}
.pswp--light .pswp__bg {
  background: #FFFFFF;
}
.pswp--light .pswp__counter {
  color: #000000;
}
.pswp--light .pswp__caption__center {
  color: #8D8D94;
}